<div *ngIf="!layoutService.isMobile" class="flex flex-row justify-start">
  <div class="bg-huddy flex flex-col justify-center align-middle">
    <div class="flex flex-col justify-center align-middle gap-5">
      <h1 *ngIf="type === 'buyer'" class=" text-white text-center text-xl lg:text-6xl">Buy the best</h1>
      <h1 *ngIf="type === 'seller'" class=" text-white text-center text-xl lg:text-6xl">Sell the best</h1>
    </div>
  </div>
  <div class="bg-white w-[40%] flex flex-row justify-center align-middle">
    <div class="w-[500px] h-[400px] self-center">
      <h2 class=" text-dark text-center text-2xl">Sign In</h2>
      <div class="mt-8">

        <form [formGroup]="form" class="mx-auto w-[400px] flex flex-col" (ngSubmit)="submit(form.value)">
          <span class="p-float-label my-2">
            <input placeholder="Email" id="email" class="w-full" formControlName="email" type="email" pInputText>
            <!-- <label for="email">Email</label> -->
          </span>

          <span class="my-2" *ngIf="formData['email'].errors">
            <p class="text-red-600" *ngIf="formData['email'].dirty && formData['email'].hasError('required')">Email is
              required</p>
            <p class="text-red-600" *ngIf="formData['email'].dirty && formData['email'].hasError('email')">Invalid email
              address
            </p>
          </span>

          <span class="p-float-label my-2">
            <input id="password" class="w-full" placeholder="Password" formControlName="password" type="text"
              pInputText>
            <!-- <label for="password">Password</label> -->
          </span>

          <span class="my-2" *ngIf="formData['password'].errors">
            <p class="text-red-600" *ngIf="formData['password'].dirty && formData['password'].hasError('required')">
              Password is
              required</p>
          </span>

          <button class="my-2" label="Login" pButton type="submit" [disabled]="form.invalid">
            <p-progressSpinner *ngIf="isLoading" class="mx-auto" [style]="{width: '20px', height: '20px'}"
              strokeWidth="8">
            </p-progressSpinner>
          </button>
          <!-- <p-progressSpinner></p-progressSpinner> -->
        </form>
        <div class="mt-4">
          <p class="text-center text-[#0E1B35] cursor-pointer" routerLink="/auth/forgotten-password"
            [queryParams]="{type}">Forget password?
          </p>
          <p class="text-center text-[#0E1B35] mt-2">Don’t have an account? <a routerLink="/auth/register"
              [queryParams]="{type}">Register</a>
            .</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="layoutService.isMobile" class="flex flex-row justify-start">
  <div class="bg-huddy flex flex-col justify-center align-middle">
    <div class="flex flex-col justify-center align-middle gap-5">
      <!-- <h1 *ngIf="type === 'buyer'" class=" text-white text-center text-xl">Buy the best</h1>
      <h1 *ngIf="type === 'seller'" class=" text-white text-center text-xl">Sell the best</h1> -->

      <div class="w-full h-[400px] self-center">
        <h2 class=" text-white text-center text-xl">Sign In</h2>
        <div class="mt-8">
          <form [formGroup]="form" class="mx-auto w-[300px] flex flex-col" (ngSubmit)="submit(form.value)">
            <span class="p-float-label my-2">
              <input placeholder="Email" id="email" class="w-full" formControlName="email" type="email" pInputText>
              <!-- <label for="email">Email</label> -->
            </span>

            <span class="my-2" *ngIf="formData['email'].errors">
              <p class="text-red-600" *ngIf="formData['email'].dirty && formData['email'].hasError('required')">Email is
                required</p>
              <p class="text-red-600" *ngIf="formData['email'].dirty && formData['email'].hasError('email')">Invalid
                email
                address
              </p>
            </span>

            <span class="p-float-label my-2">
              <input id="password" class="w-full" placeholder="Password" formControlName="password" type="text"
                pInputText>
              <!-- <label for="password">Password</label> -->
            </span>

            <span class="my-2" *ngIf="formData['password'].errors">
              <p class="text-red-600" *ngIf="formData['password'].dirty && formData['password'].hasError('required')">
                Password is
                required</p>
            </span>

            <button class="my-2" label="Login" pButton type="submit" [disabled]="form.invalid">
              <p-progressSpinner *ngIf="isLoading" class="mx-auto" [style]="{width: '20px', height: '20px'}"
                strokeWidth="8">
              </p-progressSpinner>
            </button>
            <!-- <p-progressSpinner></p-progressSpinner> -->
          </form>
          <div class="mt-4">
            <p class="text-center text-white cursor-pointer" routerLink="/auth/forgotten-password"
              [queryParams]="{type}">Forget password?
            </p>
            <p class="text-center text-white mt-2">Don’t have an account? <a routerLink="/auth/register"
                [queryParams]="{type}">Register</a>
              .</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
