<div class="flex flex-row justify-start">
  <div class="bg-huddy flex flex-col justify-center align-middle">
    <div class="flex flex-col justify-center align-middle gap-5">
      <h1 *ngIf="type === 'buyer'" class=" text-white text-center text-6xl">Buy the best</h1>
      <h1 *ngIf="type === 'seller'" class=" text-white text-center text-6xl">Sell the best</h1>
    </div>
  </div>
  <div class="bg-white w-[40%] flex flex-row justify-center align-middle">
    <div class="w-[500px] h-[400px] self-center">
      <h2 class=" text-dark text-center text-2xl">Forgot Password</h2>
      <div class="mt-8">

        <form class="mx-auto w-[400px] flex flex-col gap-8">
          <span class="p-float-label">
            <input id="password" class="w-full" type="password" pInputText>
            <label for="password">Password</label>
          </span>

          <button pButton type="button" label="Submit"></button>
        </form>
        <div class="mt-4">
          <p class="text-center text-[#0E1B35] cursor-pointer" routerLink="/auth/forgotten-password"
            [queryParams]="{type}">Login
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
